In [2]:
#================LOOPS=========

# for in range(start,end) or range(limit)
for x in range(10,20):
    print(x)

10
11
12
13
14
15
16
17
18
19

In [7]:

data = [
    "python",
    "Html",
    "Css",
    "Javascript",
    "Flask",
      100,
      150,
 ]

# for loop on list data
for x in data:
    print(x)

python
Html
Css
Javascript
Flask
100
150

In [32]:
Users = {
    "user1" : {
        "Name" : "Adam",
        "Age" : 25
    },
    "user2" : {
        "Name" : "Sam",
        "Age" : 30
    },
    "user3" : "some data"
}

# retrive data dict["key"]
Users["user2"]

# for loop on Dict / JSON data
for x in Users:
    print(x)   #x is dict keys ("user1")
    print(Users[x])  #it returns value for key "user1"

user1
{'Name': 'Adam', 'Age': 25}
user2
{'Name': 'Sam', 'Age': 30}
user3
some data

In [36]:

# .items() method is used to retrive key and values in the dict
for key,val in Users.items():
    print(key)
    print(val)

user1
{'Name': 'Adam', 'Age': 25}
user2
{'Name': 'Sam', 'Age': 30}
user3
some data

In [5]:
# printing piramid using loops

i = 11
for x in range(1,11):
    print("_" * i +  "#" * x +  "#" * x + "_" * i )

    i -= 1

___________##___________
__________####__________
_________######_________
________########________
_______##########_______
______############______
_____##############_____
____################____
___##################___
__####################__

In [44]:
print("# " * 10)

# # # # # # # # # #

In [47]:
"Adam" + " Sam"

'Adam Sam'

In [48]:
"_" * 10 + "#" * 5

'__________#####'

In [15]:
#printing square using loops
i = 20
print("_" * (i + 1))
for x in range(int(i / 2)):  #int(i / 0) converts 5.0 -> 5
    print("|" + " " * i + "|") 
print("_" * (i + 1))

_____________________
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
|                    |
_____________________

In [16]:
#printing square using loops
i = 20
for x in range(int(i / 2)):
    print("#" * i)

####################
####################
####################
####################
####################
####################
####################
####################
####################
####################

In [21]:
i = 11
for x in range(1,11):
    print("_" * i +  "#" * x +  "#" * x + "_" * i )
    i -= 1

#printing square using loops
i = 25
for x in range(int(i / 2)):
    print("#" * i)

___________##___________
__________####__________
_________######_________
________########________
_______##########_______
______############______
_____##############_____
____################____
___##################___
__####################__
#########################
#########################
#########################
#########################
#########################
#########################
#########################
#########################
#########################
#########################
#########################
#########################

In [26]:
#=======================FUNCTIONS================

def greet():
    print("Welcome Adam")

In [28]:
greet()
greet()

Welcome Adam
Welcome Adam

In [33]:
#functions with paramenters

def say_hello(user_name): #formal parameter
    print("Hello" , user_name)

In [35]:
say_hello("Adam")  #acrual parameter
say_hello("Sam")

Hello Adam
Hello Sam

In [46]:
def pyramid(i):
    for x in range(1,i):
        print("_" * i +  "#" * x +  "#" * x + "_" * i )
        i -= 1

In [50]:
pyramid(10)

__________##__________
_________####_________
________######________
_______########_______
______##########______
_____############_____
____##############____
___################___
__##################__

In [51]:
#  function return satements

def add(num1, num2):

    result = num1 + num2
    
    return result

In [52]:
add(10,20)

30

In [63]:
Users = {
    "user1" : {
        "Name" : "Adam",
        "Age" : 15,
    },
    "user2" : {
        "Name" : "Sam",
        "Age" : 30
    },
    "user3" : {
        "Name" : "Sam",
        "Age" : 10
    }
}

In [64]:
def get_users_above_18(data):
    temp = []
    for key in data:
        if data[key]["Age"] > 18:
            temp.append(key)

    return temp

In [65]:
get_users_above_18(Users)

['user2']

In [66]:
get_users_above_18(Users)

['user2']